--indent 2
--indentcase true
--trimwhitespace always
--maxwidth 120
--wraparguments before-first
--wrapcollections before-first
--closingparen same-line
--commas always
--semicolons never
--decimalgrouping 3
--binarygrouping 4
--hexgrouping 4
--octalgrouping 4
--exponentcase lowercase
--header strip
--ifdef no-indent
--indent-switch-case true
--linebreaks lf
--patternlet hoist
--self remove
--stripunusedargs closure-only
--swiftversion 6.0